@use '../../styles/vars' as v;

.hero {
    max-width: v.$wrapper-max-width;
    margin: v.$wrapper-center;
    height: 500px;
}

.title-wrapper {
    position: relative;
    --max-width: 90rem;
    width: min(100% - 2rem, var(--max-width));
    margin-inline: auto;
    margin-block: 25rem;
}

.title {
    line-height: 1.1;
    font-size: 5rem;
    max-width: 13ch;
    mix-blend-mode: color-burn;
    color: #555;
}

.copy {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.1;
    font-size: 5rem;
    max-width: 13ch;
    font-weight: 700;
}

.title__second {
    z-index: -2;
}

.title__overlay {
    opacity: 0.4;
}
