@use '../../styles/vars' as v;

.footer {
    position: relative;
    background-color: v.$grey-bg;
    padding: 1px;
    .tall-right {
        width: 30%;
        height: 4rem;
        position: absolute;
        right: 0;
        top: -4rem;
        background-color: v.$light-cyan;
        .short-right {
            width: 15rem;
            height: 4rem;
            position: absolute;
            left: 15rem;
            bottom: -3rem;
            background-color: v.$light-purple;
            mix-blend-mode: multiply;
            opacity: 0.9;
        }
    }

    .tall-left {
        width: 30%;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: v.$light-purple;
        .short-left {
            width: 15rem;
            height: 4rem;
            position: absolute;
            right: 8rem;
            top: -3rem;
            mix-blend-mode: multiply;
            background-color: v.$light-cyan;
            opacity: 0.9;
        }
    }

    &-content {
        transform: skewY(7deg);
        max-width: v.$wrapper-max-width;
        margin-inline: v.$wrapper-center;
        padding-block: 10rem;
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__brand {
            padding-inline: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;
            color: v.$dark-blue;

            &-logo {
                width: 10rem;
                height: 4rem;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    width: 7rem;
                    height: 7rem;
                    transition: 300ms;

                    &:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
            }

            &-location {
                button {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;
                    padding: 0.5rem;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }

            &-language {
                button {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;
                    padding: 0.5rem;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }

            &-commerce {
                margin-top: auto;
                div {
                    padding: 0.5rem;
                    margin-bottom: 2rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
            }
        }

        .center-links {
            display: flex;
            justify-content: center;
        }

        &__links {
            // TODO: add the column-width for optimal size.
            column-count: 2;
            margin-bottom: 8rem;
            gap: 2rem;
        }

        &-box {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            line-height: 2.7rem;
            break-inside: avoid;
            color: #002640;
            h4 {
                max-width: 200px;
            }
            a {
                transition: 100ms;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &__products {
        }

        &__solutions {
        }

        &__customSolutions {
        }

        &__developers {
        }

        &__resources {
        }

        &__company {
        }
    }
}
