@use '../../styles/vars' as v;

@media only screen and (min-width: 1000px) {
    .pictures {
        padding-inline: 2rem;
        top: -19rem;
        left: -15rem;
        gap: 3rem;
        margin-inline: v.$wrapper-center;
        margin-top: 5rem;
        transform: scale(0.7);
        div {
        }

        .visa {
        }

        .invoice {
        }

        .terminal {
            position: relative;
            top: -10rem;
        }

        .phone {
            justify-self: flex-end;
            position: relative;
            top: -32rem;
        }

        .fraud {
            position: relative;
            top: -10rem;
            grid-column: span 2;
        }
    }
}
